﻿@model TestTaskWalrus.Models.FindTextInFile

@{
    ViewData["Title"] = "Home Page";
}

<form enctype="multipart/form-data" asp-action="Index">
    <div class="form-group">
        <label asp-for="Text" class="control-label"></label>
        <input asp-for="Text" class="form-control" />
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="custom-file">
        <input asp-for="File" type="file" class="custom-file-input" id="customFile">
        <label asp-for="File" class="custom-file-label" for="customFile">Choose file</label>
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary mt-3" />
</form>

@Html.Raw(@ViewData["UserMessage"])
